
.menu-item-container{
    padding:30px;
}
.menu-item{
    text-align: center;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    padding:120px;
    height:100%;
    color:white;
    font-size: 30px;
    background-color: #189ad3;
    border-radius: 20px;
    box-shadow: 10px 10px 30px  2px gray;
}

.subtitle{
    width:100%;
    font-size: 28px;
}
.title {
    width: 100%;
    text-align: center;
}

.title-row {
    padding: 20px;
    padding-top: 0;
}
.btn-container{
    padding-bottom:50px;
    text-align: center;
}
.menu-item:hover{
    background-color: #1582b1;
    box-shadow: 10px 10px 30px  10px gray;
}
td,th{
    text-align: center;
}

.menu-item:active{
    background-color: #167097;
    box-shadow: 10px 10px 30px  16px gray;


}



::ng-deep .mat-paginator-page-size-select {
    width: 27px!important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

::ng-deep .mat-select-value {
  color: #005999;
    font-weight: bold;
    font-size: 15px;
}
::ng-deep .mat-select-arrow {
    color: #005999;
}
::ng-deep .mat-option{
  padding: 0!important;

}
::ng-deep .mat-option-text {

    text-align: right;
}


.title-container {
    text-align: center;
}
.title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(24, 118, 189);
}

.selected {
    background-color: rgb(245, 165, 17);
}

.dates-row {
   // padding-top: 50px;
}

.date-container, .btn-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.date-btn {
    width: 90%;
    font-size: 20px;
}

.charts-row{
    padding-top:30px;
    height:600px;
}

// Widgets

.widgets-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.widget-container {
    height:255px;
    margin-bottom: 20px;
}

.widget {
    height: 100%;
    padding: 20px;
    box-shadow: 2px 2px 10px 2px gray;
}

.widget-header {
    height: 30%;
}

.widget-icon {
    font-size: 50px;
    text-align: center;
}

.widget-content {
    height: 70%;
    padding: 10px;
    text-align: center;
}


.widget-value {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    font-size: 70px;
}

.widget-title {
    padding-top:15px;
    font-size: 30px;
}

.widget-footer {
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    font-size: 20px;
}

// Operations

.operation-btn {
    width:90%;
    font-size: 20px;
}

.operations-row,
.loading-operations-row,
.returning-operations-row,
.selling-operations-row {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
}

.loading{
    margin-top: 30px;
    width: 20%;
}

.message {
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
    padding-bottom: 100px;
    color: gray;
}

// Responsive 


@media (max-width: 667px) {
    .loading-operations-row, .selling-operations-row, .returning-operations-row{
        padding-top:0;
    }
    .btn-container{
        padding-bottom:20px;
    }
    .operations-row{
        padding-bottom:10px;
    }
    .widgets-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .loading{
        margin-top: 0px;
        width: 50%;
    }
    
    .widget-container {
        height:90px;
        margin-bottom: 20px;
    }
    
    .widget {
        height: 100%;
        padding: 5px;
        box-shadow: 2px 2px 10px 2px gray;
    }
    
    .widget-header {
        height: 30%;
    }
    
    .widget-icon {
        font-size: 20px;
        text-align: center;
    }
    
    .widget-content {
        height: 70%;
        padding: 10px;
        text-align: center;
    }
    
    
    .widget-value {
        font-size: 20px;
    }
    
    .widget-title {
        padding-top:0px;
        padding-left: 0;
        font-size: 10px;
    }

    .subtitle{
        font-size: 10px;
    }
    
    .widget-footer {
        position: absolute;
        padding-bottom: 20px;
        bottom: 0;
        font-size: 20px;
    }
    

    .date-btn, .operation-btn{
        font-size: 15px;
    }   
}



