#icon {
    width:60px;
    height:60px;
    cursor: pointer;
    
  }
  .logo{
    width:25%;
  }
  .djotech{
    cursor: pointer;
    position: absolute;
    bottom: 17px;
    color: rgb(248,130,56);
    padding-top: 200px !important;
    font-size: 30px;
    font-weight: bold;
  }
.power-icon{
    font-size: 50px;
    margin-left:30px;
    cursor: pointer;
}

.power-icon:hover{
  color:rgba(128, 128, 128, 0.582)
}

.arrow{
  margin-right:30px;
  margin-left:35px;
  font-size: 50px;
  color:rgb(248,130,56);
  cursor: pointer;
}
.arrow:hover{
  color: rgba(24, 117, 189, 0.664);
}

.title{
  width: 50%;
}