

<ngx-loading-x [show]="saveInProgress" [spinnerColor]="'rgb(248,130,56)'" [spinnerType]="spinnerType"></ngx-loading-x>
<div class="container-fluid edit-form">
  <div id="overlay">
    
  </div>
    <div class="row title-row">
        <h1 class="title">Ajouter un produit</h1>
    </div>
    <form>
    <div class="row">
        <div class="col-md-3 menu-item-container">
            <div class="section">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Nom du produit</label>
                      <input type="name" class="form-control" id="exampleFormControlInput1" [(ngModel)]="name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Catégorie</label>
                      <ng-select [(ngModel)]="category" name="category">
                        <ng-option *ngFor="let element of categories" [value]="element">{{element.name}}</ng-option>
                     </ng-select>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Marque</label>
                    <ng-select [(ngModel)]="brand" name="brand">
                      <ng-option *ngFor="let element of category?.brands" [value]="element">{{element}}</ng-option>
                   </ng-select>
                </div>
                   

                   

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Prix</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="price" name="price">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Prix de vente</label>
                      <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="sellingPrice" name="sellingPrice">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Quantité</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quantity" name="quantity">
                </div>
                   
            </div>
        </div>
        <div class="col-md-3 menu-item-container right-border">
          <div class="section">
                  
            <div class="form-group">
              <label for="exampleFormControlSelect1">Couleur</label>
              <ng-select [(ngModel)]="color" name="color">
                <ng-option *ngFor="let element of colors" [value]="element._id">{{element.name}}</ng-option>
             </ng-select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Etat</label>
            <ng-select [(ngModel)]="state" name="state">
              <ng-option *ngFor="let element of states" [value]="element">{{element}}</ng-option>
           </ng-select>
        </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Fournisseur</label>
            <ng-select [(ngModel)]="provider" name="provider">
              <ng-option *ngFor="let element of providers" [value]="element._id">{{element.name}}</ng-option>
           </ng-select>
        </div>

                  
                  
                  <div class="form-group">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <textarea class="form-control description" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description" name="description"></textarea>
                  </div>
          </div>
      </div>
        <div class="col-md-5 menu-item-container">
            <h2 class="text-center" style="width:100%;text-align: center;">Photos du produit</h2>

    <div class="form-group color text-center">
      <h3 style="font-weight:bold;padding:20px;" >Vous pouvez ajouter jusqu'à 5 photos :</h3>
      <span class="hidden-file">
        <input type="file" name="image" #fileInput (change)="process($event)" 
          accept="image/x-png,image/gif,image/jpeg" multiple (onFileSelected)="onFileSelected($event)" />
      </span>
      <div class="col text-center">
        <button class="center myButton" type="button" (click)="fileInput.click()">
          Séléctionner des photos
        </button>

      </div>
    </div>


   

    <div>
      <h4 style="color:red;" *ngIf="data?.length > 5">Vous pouvez seulement choisir 5 photos au maximum !</h4>
      <div class="table-wrapper-scroll-y my-custom-scrollbar" style="text-align: center;">
    <table class="table" *ngIf="data?.length > 0">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Taille</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>
            {{ item?.name }}
          </td>
          <td>
            {{ item?.size/1024/1024 | number:'.2' }} MB
          </td>
          
        </tr>
      </tbody>
    </table>
    </div>
  </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center flex-nowrap">
        <div class="col-md-4 button-bloc"><button
                class="btn custom-btn-secondary" (click)="reset()">Réinitialiser</button> <button
                class="btn custom-btn-primary" (click)="save()" [disabled]="data?.length>5">Confirmer</button></div>
    </div>
  </form>

</div>