<div class="modal-header">
    <h4 class="modal-title">{{name}}</h4>
    <button type="button" class="close" aria-label="Fermer" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form>
        <div class="row centered">
          <div class="col-md-12 menu-item-container">
            <div class="section">
              <div class="form-group">
                <label for="exampleFormControlInput1">Quantité à charger</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quantity"
                  name="name">
              </div>
  
              <div class="form-group">
                <label for="price">Prix d'achat</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="price" name="price">
              </div>
            </div>
          </div>
        </div>
        <div class="row button-row">
          <div class="col-md-12 col-md-offset-4 button-bloc"><button class="btn custom-btn-secondary"
              (click)="activeModal.close('Close click')">Annuler</button> 
              <button 
              class="btn custom-btn-primary"
              (click)="load()" 
              [disabled]="(price == null) || (price == undefined) || (quantity == null) || (quantity == undefined)"
              >Confirmer</button>
          </div>
        </div>
      </form>
    </div>
  </div>