.menu-item-container{
    padding:30px;
}
.menu-item{
    text-align: center;
    vertical-align:middle;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    padding:120px;
    height:100%;
    color:white;
    font-size: 30px;
    background-color: rgb(248,130,56);
    border-radius: 20px;
    box-shadow: 10px 10px 30px  2px gray;
}
.add-btn{
    float:right;
}

.btn-container{
    padding-right:130px;
}

.menu-item:hover{
    background-color: rgb(249, 147, 84);
    box-shadow: 10px 10px 30px  10px gray;


}

.menu-item:active{
    background-color: rgb(249, 147, 84);
    box-shadow: 10px 10px 30px  16px gray;


}


.icon{
padding:10px;
}
.actions{
    text-align: center;
}

.title {
    text-align: center;
}

.title-row {
    padding: 30px;
    padding-top: 0;
}